<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/grid.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
    <title>Register</title>
</head>
<body>
    <div class="row">            
            <form th:object="${babysitter}" th:action="@{/babysitter/registerBabysitter}" action="#" method="POST">
                <h3>Register as a Babysitter</h3>
                <label for="">SNN</label>

                <input th:field="*{snn}" type="text" placeholder="your snn" required>
                <label for="">Your name</label>
                <input th:field="*{name}" type="text" placeholder="Your name" required>
                <label for="">Email</label>
                <input th:field="*{email}" type="email" name="login-email" id="login-email" placeholder="Email" required>
                <label for="">Phone Number</label>
                <input th:field="*{phoneNumber}" type="text" placeholder="Your number">
                <label for="">Your Education Level</label>
                <select th:field="*{highestEducation}" name="education" id="education">
                    <option th:value="highschool">highschool</option>
                    <option th:value="college">college</option>
                    <option th:value="phd">PHD</option>
                </select>
                <label for="">Gender</label>
                <select th:field="*{gender}" name="gender" id="gender">
                    <option th:value="male">Male</option>
                    <option th:value="female">Female</option>
                </select>
                <label for="">Date of Birth</label>
                <input  th:field="*{dateOfBirth}" type="date">
                <label for="">Password</label>
                <input th:field="*{password}" type="password" name="login-password" id="login-password" placeholder="Password" required>
                <input type="submit" value="Register">
            </form> 
    </div>
</body>
</html>