<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/grid.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/detail.css}">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/e15797aa75.js" crossorigin="anonymous"></script>
    <title>Detail of Babysitter</title>
</head>
<body>

    <div class="row">            
        <div class="detail-box">
            <i class="fas fa-user-circle"></i>
            <p th:text="${babysitter.name}"></p>
            <p th:text="${babysitter.gender}"></p>
            <p th:text="${babysitter.email}"></p>
            <p th:text="${babysitter.dateOfBirth}"></p>
            <p th:text="${babysitter.phoneNumber}"></p>
            <p th:text="${babysitter.highestEducation}"></p>
            <a th:href="@{/contract/register/{id}(id=${babysitter.snn})}" class="btn btn-full">Request</a>
        </div>
    </div>

    
</body>
</html>