<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/grid.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/list.css}">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/e15797aa75.js" crossorigin="anonymous"></script>
    <title>Babysitting</title>
</head>
<body>
    <header>
        <nav>
            <div class="row">
                <i class="fas fa-baby-carriage logo"></i>
                <ul class="main-nav">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Feature</a></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="listOfBabysitters" id="siiterList">
        <div class="list-container">
            <div class="row search-bar">
                <h3>Filter Babysitters</h3>
                <ul>
                    <li><input id="key" type="text" placeholder="key word here"></li>
                    <li>
                        <select name="gender" id="gender">
                            <option value="">Select Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </li>
                    <li>
                        <select name="degree" id="degree">
                            <option value="">Select Degree</option>
                            <option value="highschool">high school</option>
                            <option value="college">College</option>
                            <option value="phd">PHD</option>
                        </select>
                    </li>
                    <li>
                        <select name="age" id="age">
                            <option value="">Select Age</option>
                            <option value="low">~25</option>
                            <option value="mid">26~45</option>
                            <option value="high">45~</option>
                        </select>
                    </li>
                    <li><button onclick="resetFilters()">Reset</button></li>
                </ul>
            
            </div>

            <div class="sitter-list-container">
                    <div class="sitter-box" th:each="babysitter : ${babysitters}">
                        <i class="fas fa-user-circle"></i>
                        <p th:text="${babysitter.name}"></p>
                        <p th:text="${babysitter.gender}"></p>
                        <p th:text="${babysitter.highestEducation}"></p>
                        <a th:href="@{/babysitter/listOfBabysitters/{id}(id=${babysitter.snn})}" class="btn btn-full">See Detail</a>
                    </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="row">
            <div class="col span-1-of-2">
                <ul class="footer-nav">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">iOS App</a></li>
                    <li><a href="#">Android App</a></li>
                </ul>
            </div>
            <div class="col span-1-of-2">
                <ul class="social-links">
                    <li><a href="#"><img src="https://img.icons8.com/ios-filled/26/000000/facebook-new.png" alt="icon"/></a></li>
                    <li><a href="#"><img src="https://img.icons8.com/fluent-systems-regular/26/000000/twitter.png" alt="icon"/></i></a></li>
                    <li><a href="#"><img src="https://img.icons8.com/metro/26/000000/google-plus.png" alt="icon"/></i></a></li>
                    <li><a href="#"><img src="https://img.icons8.com/metro/26/000000/instagram-new.png" alt="icon"/></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <p>
                Copyright &copy; 2021 by Babytitting App All rights reserved.
            </p>
        </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="./js/search.js"></script>

</body>
</html>