<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Family Register</title>
</head>
<body>
<h1>Family Register</h1>


    <form action="#">
        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="femail">Last name:</label>
        <input type="text" id="femail" name="email"><br><br>


        <p>Please select your gender:</p>
        <input type="radio" id="fmale" name="gender" value="male">
        <label for="fmale">Male</label><br>
        <input type="radio" id="ffemale" name="gender" value="female">
        <label for="ffemale">Female</label><br>
    </form>

        <h1>Child</h1>

        <input type="submit" value="Submit">
</body>
</html>