<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/grid.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
    <title>Login</title>
</head>
<body>
    <div class="row">
            <form th:object="${loginInfo}" th:action="@{/login}" action="#" method="POST">
                <h3>Log in</h3>
                <input th:field="*{email}" type="email" name="login-email" id="login-email" placeholder="Email" required>
                <input th:field="*{password}" type="password" name="login-password" id="login-password" placeholder="Password" required>
                <select th:field="*{userType}" name="user" id="user" required>
                    <option th:value="0">I am a family</option>
                    <option th:value="1">I am a babysitter</option>
                </select>
                <input type="submit" value="Login">
            </form>

    </div>
    
</body>
</html>