<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/grid.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/e15797aa75.js" crossorigin="anonymous"></script>
    <title>Babysitting</title>
</head>
<body>
    <header>
        <nav>
            <div class="row">
                <i class="fas fa-baby-carriage logo"></i>
                <ul class="main-nav">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#features">Feature</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </nav>
        <div class="header-text-box">
            <h1>Meet your babysitter that you can trust.<br>Meet wonderful family to work with.</h1>
            <a class="btn btn-full" href="/babysitter/inputBabysitterInfo">Become a babysitter</a>
            <a class="btn btn-ghost" href="/family/inputFamilyInfo">Join</a>
        </div>
    </header>

    <section class="section-features" id="features">
        <div class="row">
            <h2>Safe and Easy Way To Find a Perfect BabySitter </h2>
        </div>

        <div class="row">
            <div class="col span-1-of-3 box">
                <img src="https://img.icons8.com/fluent/50/000000/infinity.png" alt="icon"/>
                <h3>All over the world</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis eleifend turpis. Sed congue pharetra ipsum eu venenatis. Mauris vitae rutrum dolor. Sed et felis elit. Proi</p>
            </div>
            <div class="col span-1-of-3 box">
                <img src="https://img.icons8.com/color/50/000000/babys-room.png" alt="icon"/>
                <h3>Perfect for Babys of any age</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis eleifend turpis. Sed congue pharetra ipsum eu venenatis. Mauris vitae rutrum dolor. Sed et felis elit. Proi</p>
            </div>
            <div class="col span-1-of-3 box">
                <img src="https://img.icons8.com/doodle/48/000000/chat.png" alt="icon"/>
                <h3>Customer service 24/7</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis eleifend turpis. Sed congue pharetra ipsum eu venenatis. Mauris vitae rutrum dolor. Sed et felis elit. Proi</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="row">
            <div class="col span-1-of-2">
                <ul class="footer-nav">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">iOS App</a></li>
                    <li><a href="#">Android App</a></li>
                </ul>
            </div>
            <div class="col span-1-of-2">
                <ul class="social-links">
                    <li><a href="#"><img src="https://img.icons8.com/ios-filled/26/000000/facebook-new.png" alt="icon"/></a></li>
                    <li><a href="#"><img src="https://img.icons8.com/fluent-systems-regular/26/000000/twitter.png" alt="icon"/></i></a></li>
                    <li><a href="#"><img src="https://img.icons8.com/metro/26/000000/google-plus.png" alt="icon"/></i></a></li>
                    <li><a href="#"><img src="https://img.icons8.com/metro/26/000000/instagram-new.png" alt="icon"/></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <p>
                Copyright &copy; 2021 by Babytitting App All rights reserved.
            </p>
        </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="./js/animation.js"></script>

</body>
</html>




