# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\rlatn\Desktop\Douglas College\2021 Winter\CSIS3275 Software Engineering\JavaJunitAssignment-master\CSIS3275FinalTermProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
