<!DOCTYPE html>
<html lang="en" xmls="http://www.w3.org/1999/xthml"
                xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/grid.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/detailContract.css}">
    <link href = 'https://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel="stylesheet" type="'text/css">
    <script src = "https://kit.fontawesome.com/e15797aa75.js" crossorigin="anonymous"></script>
    <title>Detail Of Accept Contract</title>
</head>
<body>
    <h3>Detail of Accept Contract</h3>
    <div class = "row">
        <div class = "detail-box">
            <p th:text="${contract.family.name}">Family Name:</p>
            <p th:text="${contract.family.address}">Address:</p>
            <p th:text="${contract.family.phoneNumber}">PhoneNumber:</p>
            <p th:text="${contract.family.email}">Email:</p>
            <p th:text="${contract.family.maritalStatus}">Marital Status:</p>
            <div th:each="child : ${contract.family.children}">
                <p th:text="${child.name}">Child's name</p>
                <p th:text="${child.dateOfBirth}">Child's date of birth</p>
                <p th:text="${child.gender}">Child's Gender</p>
            </div>
            <p th:text="${contract.startDate}">Start Date:</p>
            <p th:text="${contract.startTime}">Start Time:</p>
            <p th:text="${contract.endDate}">End Date:</p>
            <p th:text="${contract.endTime}">End Time:</p>
            <p th:text="${contract.status}">Status:</p>
            </br>

            <div class="button-box" th:switch="${contract.status}">
                <a class="btn btn-full" href="/contract/listOfAcceptContracts">Back</a>
                <a th:case="REQUESTED" class="btn btn-ghost" th:href="@{/contract/acceptContract/{id}(id=${contract.contractID})}">ACCEPT</a>
                <a th:case="REQUESTED" class="btn btn-ghost" th:href="@{/contract/denyContract/{id}(id=${contract.contractID})}">DENY</a>
            </div>
        </div>
    </div>

<h1></h1>
</body>
</html>