<!DOCTYPE html>
<html lang="en" xmls="http://www.w3.org/1999/xthml"
      xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/grid.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/detailContract.css}">
    <link href = 'https://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel="stylesheet" type="'text/css">
    <script src = "https://kit.fontawesome.com/e15797aa75.js" crossorigin="anonymous"></script>
    <title>Detail Of Request Contract</title>
</head>
<body>
    <div class="row section-title">
        <h2>Detail of request Contract</h2>
    </div>

<div class = "row">
    <div class = "detail-box">
        <p>Babysitter Name:</p><p th:text="${contract.babysitter.name}"></p> </br>
        <p>Gender:</p><p th:text="${contract.babysitter.gender}"></p></br>
        <p>Education Level: </p><p th:text="${contract.babysitter.highestEducation}"></p></br>
        <p>Date of Birth: </p><p th:text="${contract.babysitter.dateOfBirth}"></p></br>
        <p>Start Date:</p><p th:text="${contract.startDate}"></p></br>
        <p>End Date:</p><p th:text="${contract.endDate}"></p></br>
        <p>Start Time:</p><p th:text="${contract.startTime}"></p></br>
        <p>End Time:</p><p th:text="${contract.endTime}"></p></br>
        <p>Status:</p><p th:text="${contract.status}"></p></br>
        </br>

        <div class="button-box" th:switch="${contract.status}">
            <a class="btn btn-full" href="/contract/listOfRequestContracts">Back</a>
            <a th:case="ACCEPTED" class="btn btn-ghost" th:href="@{/contract/cancelContract/{id}(id=${contract.contractID})}">Cancel</a>
        </div>
    </div>
</div>


</body>
</html>