<!DOCTYPE html>
<html lang="en" xmls="http://www.w3.org/1999/xthml"
                xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/grid.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/detailContract.css}">
    <link href = 'https://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel="stylesheet" type="'text/css">
    <script src = "https://kit.fontawesome.com/e15797aa75.js" crossorigin="anonymous"></script>
    <title>Detail Of Accept Contract</title>
</head>
<body>
    <h3>Detail of Accept Contract</h3>
    <div class = "row">
        <div class = "detail-box">
            <p th:text="${contract.contractTitle}"></p> </br></br>
            <p>&nbsp;&nbsp;-&nbsp;Family Name:</p><p th:text="${contract.family.name}"></p> </br>
            <p>&nbsp;&nbsp;-&nbsp;Address:</p><p th:text="${contract.family.address}"></p></br>
            <p>&nbsp;&nbsp;-&nbsp;PhoneNumber:</p><p th:text="${contract.family.phoneNumber}"></p></br>
            <p>&nbsp;&nbsp;-&nbsp;Email:</p><p th:text="${contract.family.email}"></p></br>
            <p>&nbsp;&nbsp;-&nbsp;Marital Status:</p><p th:text="${contract.family.maritalStatus}"></p></br>
            <p>&nbsp;&nbsp;-&nbsp;Children Information:</p>
            <div th:each="child : ${contract.family.children}">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;Child's name: </p><p th:text="${child.name}"></p></br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;Child's date of birth: </p><p th:text="${child.dateOfBirth}"></p></br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;*&nbsp;Child's Gender: </p><p th:text="${child.gender}"></p></br><hr>
            </div>
            <p>&nbsp;&nbsp;-&nbsp;Start Date:</p><p th:text="${contract.startDate}"></p></br>
            <p>&nbsp;&nbsp;-&nbsp;Start Time:</p><p th:text="${contract.startTime}"></p></br>
            <p>&nbsp;&nbsp;-&nbsp;End Date:</p><p th:text="${contract.endDate}"></p></br>
            <p>&nbsp;&nbsp;-&nbsp;End Time:</p><p th:text="${contract.endTime}"></p></br>
            <p>&nbsp;&nbsp;-&nbsp;Status:</p><p th:text="${contract.status}"></p></br>
            </br>

            <div class="button-box" th:switch="${contract.status}">
                <a class="btn btn-full" href="/contract/listOfAcceptContracts">Back</a>
                <a th:case="REQUESTED" class="btn btn-ghost" th:href="@{/contract/acceptContract/{id}(id=${contract.contractID})}">ACCEPT</a>
                <a th:case="REQUESTED" class="btn btn-ghost" th:href="@{/contract/denyContract/{id}(id=${contract.contractID})}">DENY</a>
            </div>
        </div>
    </div>

<h1></h1>
</body>
</html>